<Project>
  <!-- Modify this and remove the .template from the filename to change the game path just for yourself -->
  <PropertyGroup>
    <GamePath>/path/to/game/steamapps/Elin</GamePath>
  </PropertyGroup>
</Project>